#box {
    background: #EDF7FA80;
    width: 650px;
    height: 400px;
   }
#box2{
    width: 1100px;
    height: 400px;
}

a:link{
    color: #a5c2d4;
}

a:visited{
    color: #97b3b6;
}

a:hover{
    text-decoration: none;
}

.top{
    font-family: Courier New;
    font-size: 300%;
    -webkit-text-stroke: 5px #3b2a23;
    color: white;
    text-shadow:
       5px 5px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    display: inline;
}

.goback{
    max-width: 5%;
    max-height: 5%;
    position: relative;
    top: 10px;
}

.pic{width:1000px;}
.pic img{transform:scale(1,1);transition: all 1s ease-out;}
.pic img:hover{transform:scale(1.2,1.2);}


body{
    background-image: url("/img/11.png"); 
    background-color: white; 
    background-size: cover;
    font-size: 150%;
    font-family: 'Noto Serif TC', serif;
}